<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SPA</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>
<form>
<h1><img src="med.png" alt="med" width="40" height="40">SPA</h1>
<ul>
<li><a action="#" href="/purchase">PURCHASE</a>
<li><a action="#" href="/bill" th:onclick>BILLING</a>
<li><a action="#" href="/login" th:onclick>LogOut</a>
</ul>
<p>
<marquee>
<mark>
</mark>
</marquee>
</p>
<br>

<center>
<img src="b.jpeg" usemap="#image-map" width="700" height="400">
<map name="image-map">
    <area target="" alt="Corona virus prevention" title="Corona virus prevention" href="https://www.who.int/india/emergencies/novel-coronavirus-2019" coords="865,709,429" shape="circle">
</map>
</center>
 </form>
</body>
</html>



